d this CSS snippet: main.css 
/*Main Stylesheet*/
​
/*Overall*/
​
*{
	border:0;
	margin:0;
	padding:0;
	box-sizing:border-box;
}
​
html,body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
​
}
​
/*Typography*/
​
h1{
	/* This is my awesome A: */
	font-size: 48px;
	font-weight:700;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	line-height: 1.1;
}
​
h2{
	/* A kitten, also known: */
	font-weight:500;
	font-size: 24px;
	color: #50E3C2;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 40px 0 20px 0;
​
}
​
​
p{
	/* After about two week: */
	font-weight:300;
	font-size: 17px;
	color: #393D3C;
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 20px;
}
​
​
/*Layout*/
​
.grid-base{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
​
.grid-base .col{
	height:3000px;
}
​
.col{
	border:1px dashed rgba(255,0,0,0.6);
	display: inline-block;
	float:left;

}
​
.col-1{
	width:8.33%;
}
​
.col-2{
	width:16.66%;
}
​
.col-3{
	width:25%;
}
​
.col-4{
	width:33.33%;
}
.col-5{
	width:41.66%;
}
.col-6{
	width:50%;
}
​
.col-7{
	width:58.33%;
}
​
.col-8{
	width:66.66%;
}
​
.col-9{
	width:75%;
}
​
.col-10{
	width:83.33%;
}
​
.col-11{
	width:91.66%;
}
​
.col-12{
	width:100%;
}
​
​
.wrapper{
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
​
.hero{
	background-image:url("../img/hero.jpg");
	height: 40%;
	position: center;
	background-size: cover;
}
​
.hero h1{
	position: relative;
	left:50%;
	top:50%;
	height: auto;
	transform: translate(-50%, -50%);
	text-align: center;
}
​
.meta{
	margin-left: 8.33%;
	margin-top: 120px;
​
}
​
.meta li{
	list-style: none;
	border-bottom: 1px solid #E8E8E8;
	font-weight: 300;
	font-size: 12px;
	color: #99A2A0;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 7px 0 7px 0;
​
}
​
.content-center {
	margin: 0 auto;
	display: inline-block;
	float: 
}
​
​
​
​
​
​
​
