* {
	margin-top: 20px;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	padding: auto;
	font-family: 'IBM Plex Sans', sans-serif;
	background: #C6D9E0;
}

ul {
	list-style: none;
}

p {
	font-weight: 400;
	font-size: 11pt;
	color: #393D3C;
	line-height: 23px;
}

blockquote {
	font-size: 18pt;
	color: #000000;
	text-align: center;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 45px;
}

.nav{
	margin-top: -40px;
	margin-right: 20px;
	padding-left: 40px;
}

li {
	list-style: none;
	float: right;
	padding-top: 15px;
	padding-right: 30px;
	font-size: 11pt;
}

.grid-base {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.grid-base .col {
	height: 3000px;
}

.col {
/*	height: 100%;
*/	
	display: inline-block;
	float: left;
}

.col-1{
    width:8.33%;
}

.col-2{
    width:16.66%;
}

.col-3{
    width:25%;
}

.col-4{
    width:33.33%;
}
.col-5{
    width:41.66%;
}
.col-6{
    width:50%;
}

.col-7{
    width:58.33%;
}

.col-8{
    width:66.66%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.33%;
}

.col-11{
    width:91.66%;
}

.col-12{width:100%;}

.wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.meta {
	margin-left: 8.33%;
	margin-top: 120px;
}

.meta li {
	list-style: none;
	border-bottom: 1px solid #ff1;
	font-weight: 300;
	font-size: 12px;
	color: #99A2A0;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 7px 0 7px 0;
}

.content-center {
	margin: 0 auto;
	display: inline-block;
	float: 
}

.next-place {
	list-style: none;
	float: right;
	font-size: 11pt;
	text-align: center;
	font-weight: 700;
	margin-top: 1150px;
	margin-right: 50px;
	padding-left: 40px;
}

@media screen and (max-width: 1120px) {

}

