body {
	background-color: #BBCBB7;
	/*font-family: 'Oswald', sans-serif;*/
	/*font-family: 'Lato', sans-serif;*/
}

.wrapper {
	margin: auto;
	padding: auto;
}

.title {
	font-size: 60pt;
	color: #5F9760;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 35px;
	letter-spacing: 1px;
	font-family: 'Oswald', sans-serif;
}

.line {
	width: 700px;
	height: 1px;
	background-color: #797777;
	margin-bottom: -12px;
	margin-top: -12px;
}

.nav {
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
	margin-top: 0px;
	font-family: 'Oswald', sans-serif;
}

li {
	display: inline-block;
	list-style: none;
	padding-right: 50px;
	text-decoration: none;
	color: #5F9760;
}

li:hover {
	color: #0D790F;
}


img {
	max-width: 300px;
	max-height: 300px;
	padding-top: 30px;
}

.current-project {
	width: 250px;
	height: 250px;
	background-color: #fff;
	margin-top: 50px;
	font-family: 'Lato', sans-serif;
	color: #797777;
}